<?xml version="1.0" encoding="utf-8" ?>
<!--
MIT License

Copyright (c) 2020 SebbaIndustries

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
<settings>
    <warp-settings
            permission="warp.rank.default"
            maxwarps="1"
            Environment.NORMAL="true"
            Environment.NETHER="false"
            Environment.THE_END="false"
            teleport-wait-time="60"
    />
    <warp-settings
            permission="warp.rank.iron"
            maxwarps="2"
            Environment.NORMAL="true"
            Environment.NETHER="false"
            Environment.THE_END="false"
            teleport-wait-time="60"
    />
    <warp-settings
            permission="warp.rank.gold"
            maxwarps="3"
            Environment.NORMAL="true"
            Environment.NETHER="true"
            Environment.THE_END="false"
            teleport-wait-time="60"
    />
    <warp-settings
            permission="warp.rank.diamond"
            maxwarps="4"
            Environment.NORMAL="true"
            Environment.NETHER="true"
            Environment.THE_END="false"
            teleport-wait-time="60"
    />
    <warp-settings
            permission="warp.rank.emerald"
            maxwarps="5"
            Environment.NORMAL="true"
            Environment.NETHER="true"
            Environment.THE_END="true"
            teleport-wait-time="60"
    />

    <blacklisted-warp-names>fuck me I hate this shit please kill me</blacklisted-warp-names>
    <safety-check>
        <blacklisted-items allow-in-air-warps="false">PRESSURE_PLATE TRAPDOOR LAVA</blacklisted-items>
        <ring-check radius="1">LAVA WATER CACTUS</ring-check>
    </safety-check>

    <teleport
            confirm-availability-time="500"
            default-teleport-wait-time="60"
    />

    <teleport-display
            method="title"
            use-progress-bar="true"
            completed-color="§3"
            uncompleted-color="§f"
            progress-bar-symbol="|"
            progress-bar-length="42"
    />
    <teleport-method>
        <title
                top="%time%"
                sub="§2Teleporting"
                fadein="10"
                fadeout="10"
        />

        <actionbar
                text="Teleporting in %time%"
        />

        <chat
                text="Teleporting in %time% seconds"
                text-send-frequency="20"
        />
    </teleport-method>

</settings>